/* reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif !important;
}

body {
  color: #000;
  font-size: 16px;
}

.container {
  min-height: 100%;
  position: relative;
}

a {
  color: white;

  text-decoration: none;
}


ul,
li {
  list-style: none;
}

/* Header */
.container {
  width: 95%;
  min-width: 1200px;
  font-weight: 600;
  background: transparent;
}

.header-inner {
  position: fixed;
  width: 100%;
  padding: 30px;
  color: white;
  background-color: black;
  transition: background 0.3s;

}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.header-container .gnb-menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.gnb-menu ul li.first_item a {
  color: #183582;
  font-weight: bold;
}

.gnb-menu ul li a {
  padding: 30px 5px;
}

.section_wrap {
  background: transparent;

}

.section_img {
  width: 100%;
  height: 100vh;
  background: no-repeat url("https://spao.com/web/upload/appfiles/ZaReJam3QiELznoZeGGkMG/44f02121474d2dab774a7fab1cd66e0b.jpg");
  background-size: cover;
}

.gnb-menu ul {
  display: flex;
  align-items: center;

}

/* Header hover */
.header-inner:hover {
  color: rgb(194, 192, 192);
  font-weight: 600;
  background:  rgb(210, 208, 208);
}

.header-inner:hover ul a {
  color: black;
}

.header-inner:hover .first_item a {
  opacity: 0.5;
  font-weight: 600;
}

.header-inner ul .first_item a:hover {
  color: #183582;
  opacity: 1;
  font-weight: 600;
}

.gnb-menu .header_bg ul .Second_item a:hover {
  color: black;
}

.gnb-menu .header_bg {
  width: 1040px;
}

.gnb-menu ul:hover .Second_item a {
  color: rgb(194, 192, 192);
  font-weight: 600;
}

/* member_content */
ul.member_content {
  display: flex;
  align-items: center;
  gap: 25px;
 }

 ul.cart-item li {
  position: relative;
  top: 0;
  left: 0;
}

/* move_conut -> 장바구니 갯수 */
ul.member_content li .move_conut {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 4px;
  right: 23px;
}

ul.member_content .cart-item{
  position: relative;
  padding-right: 30px;
 }

 ul.member_content li img{
  width: 26px;
  height: 26px;

 }
 ul.member_content li .move_conut:hover {
  color: #000;
 }


/* footer */
footer {
  display: block;
  background-color:black;
  min-width: 1380px;
  padding: 40px 0 50px 84px;
}

.footer_wrap {
  height: 150px;
  margin: 0 auto;
  top: 10px;
  padding-bottom: 50px;
}

.footer_wrap h2 {
  color: white;
  font-weight: 600;
  padding: 10px
}

.footer_main p {
  padding: 2px 0px 0px 10px;
  color: white;
}

.footer_main .email_color {
  color: #909090;
  font-weight: 600;
}
.footer_wrap .footer_text {
  float: right;
  margin: 45px 0 0 30px;

}

.footer_section {
  margin-top: 15px;
  color: white;
}

.footer_info {
  padding: 10px;
  display: inline-block;
  font-size:12px ;
  line-height: 1.5;
  margin-bottom: 30px;
}

.footer_info span::before{
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  margin: 0 5px;
  background-color: white;
  vertical-align: -1px;
}

.footer_img img {
  width: 35px;
  height: 35px;

}

.footer_img a {
  padding-right: 5px;
}

.footer_section01 {
  margin-top: 10px;
  border-bottom: 1px solid seashell;
  padding: 10px;
}

.footer_Copyright{
  color: #909090;
  font-size: 13px;
  margin-top: 30px;
}